.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer{
    width: 35px;
    height: 48px;
    background-image: url(../vectors/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container{
    display: flex;
    align-items: center;
}

.cabecalho__container--botao{
    display: none;
}

.cabecalho__container--imagem{
    padding: 1rem;
}

.menu-label{
    padding: 1em;
}

.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}

.cabecalho__container--botao:checked ~ .lista__menu{
    display: block;
}

.lista__menu--titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu--link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.cabecalho__container--botao:checked ~ .menu-label{
    background: var(--azul-claro-degrade);
}

.lista__menu--titulo, .lista__menu--item{
    padding: 1rem;
    background-color: var(--branco);
}